/* You can add global styles to this file, and also import other style files */

table {
  th, td {
    border: solid 1px gray;
    padding: 5px;
  }
}

.mgt-10 {
 margin-top: 10px;
}

.mgb-10 {
  margin-bottom: 10px;
}
